@mixin elements-box-shadow {}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: $blue-very-dark-text;
  line-height: 1.5;
  background-color: $grey-lite;
  scroll-behavior: smooth;
}

button,
input{
  outline: none;
}

img{
  width: 100%;
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
}

