$black: #000;
$white: #fff;
$grey-lite: #fafafa;
$grey: #8b8b8b;
$grey-dark: #858585;
$blue-very-dark-text: #111517;
$blue-very-dark: #202c37;
$blue-dark: #2b3945;
$orangered: #ff4500;

$border-radious: 10px;